@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

h1 {
  color: #ebbe2c;
  font-size: 2rem;
}

h2 {
  color: #ecc02f;
  font-size: 1.8rem;
}

h3 {
  color: #ffdb65;
  font-size: 1.6rem;
}

p {
  color: white;
  font-size: 1.3rem;
}

.error {
  background-image: linear-gradient(to right top, #ffd166, #fecf60, #fdcc59, #fcca53, #fbc74c, #fac345, #f9bf3e, #f8bb37, #f6b52e, #f5ae24, #f3a819, #f2a10b);
  height: 100vh;
  background-size: 400%;
  font-family: "Poppins", sans-serif;
}
.error .error-page {
  position: absolute;
  top: 10%;
  left: 17%;
  right: 17%;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9647058824);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.error .error-page .content {
  max-width: 600px;
  text-align: center;
}
.error .error-page .content h1 {
  font-size: 18vw;
  line-height: 1em;
  position: relative;
}
.error .error-page .content h1::after {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to right top, #fcca53, #fbc74c, #f0bc44, #e4b03c, #d9a534, #c18f29, #a97a1e, #916613, #7a5208);
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
  animation: animate 10s ease-in-out infinite;
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}
.error .error-page .content h2 {
  text-transform: uppercase;
  color: #fac343;
  max-width: 600px;
  font-size: 2em;
  position: relative;
  padding-bottom: 15px;
}
.error .error-page .content h2::after {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  right: 0;
  background: -webkit-repeating-linear-gradient(-45deg, #ffe5a8, #fac343, #f3af30, #5D5D53, #353b3c);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
  animation: animate 10s ease-in-out infinite;
}
.error .error-page .content p {
  font-size: 1.2em;
  color: #4e4e4e;
  padding-bottom: 20px;
}
.error .error-page .content .btns {
  margin: 25 px 0;
  display: inline-flex;
}
.error .error-page .content .btns a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  border: 2px solid #f3af30;
  color: #f3af30;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.error .error-page .content .btns a:hover {
  color: white;
  background: #f3af30;
}

/* Estilos para dispositivos con un ancho máximo de 768px */
@media (max-width: 768px) {
  .error-page {
    top: 5%;
    left: 10%;
    right: 10%;
    bottom: 5%;
  }
}
/* Estilos para dispositivos con un ancho máximo de 576px */
@media (max-width: 576px) {
  .error-page {
    top: 2%;
    left: 5%;
    right: 5%;
    bottom: 2%;
  }
  .error-page .content {
    max-width: 90%;
  }
  .error-page h1 {
    font-size: 12vw;
  }
  .error-page h2 {
    font-size: 1.5em;
  }
  .error-page p {
    font-size: 1em;
  }
  .error-page .btns {
    flex-direction: column;
    margin: 15px 0;
  }
  .error-page .btns a {
    margin: 5px 0;
    padding: 8px 20px;
  }
}
body {
  background-color: #0D0D0E;
  font-style: 1rem;
  font-family: "Poppins", sans-serif;
  color: beige;
}

/*Scss header de las 5 paginas*/
.header {
  height: 100vh;
  background: black;
}
.header .contenedorLogo {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.header .contenedorLogo .logo {
  width: 200px;
  object-fit: cover;
  display: inline-block;
  padding-left: 0.8rem;
}
.header .boton {
  background-color: rgba(250, 208, 92, 0.7137254902);
}
.header .boton.active, .header .boton:hover {
  color: #E1BA39;
}
.header .list {
  list-style: none;
}
.header .list .links {
  display: inline-block;
  margin-block: 2px;
  text-decoration: none;
  color: #fff;
  position: relative;
  margin-top: 10px;
  font-size: 1rem;
  padding: 0 22px;
}
.header .list .links::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #E1BA39;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}
.header .list .links:hover::after {
  transform: scaleX(1);
}
.header .contenedorIndex {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1294117647), rgba(0, 0, 0, 0.8352941176)), url("../assets/img/cabnavmenu.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .contenedorIndex .hijoIndex {
  padding-right: 5rem;
  padding-left: 5rem;
}
.header .contenedorIndex .hijoIndex h1 {
  text-align: center;
}
.header .contenedorIndex .hijoIndex .textoIndex {
  font-family: "Signika", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-align: center;
}
.header .contenedorIndex .hijoIndex .textoIndex .animate__animated.animate__bounce {
  --animate-duration: 2s;
}
.header .contenedorIndex .hijoIndex .textoIndex .animate__animated.animate__bounce :root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
.header .contenedorBeneficios {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1294117647), rgba(0, 0, 0, 0.8352941176)), url("../assets/img/canavbeneficios.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .contenedorBeneficios .hijoBeneficios {
  padding-right: 13rem;
  padding-left: 5rem;
}
.header .contenedorBeneficios .hijoBeneficios h1 {
  text-align: center;
}
.header .contenedorBeneficios .hijoBeneficios .textoBeneficios {
  font-family: "Signika", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}
.header .contenedorBeneficios .hijoBeneficios .textoBeneficios .animate__animated.animate__bounce {
  --animate-duration: 2s;
}
.header .contenedorBeneficios .hijoBeneficios .textoBeneficios .animate__animated.animate__bounce :root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
.header .contenedorCarta {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1294117647), rgba(0, 0, 0, 0.8352941176)), url("../assets/img/cabnavcarta.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .contenedorCarta .hijoCarta {
  padding-right: 6rem;
  padding-left: 5rem;
}
.header .contenedorCarta .hijoCarta h1 {
  text-align: center;
}
.header .contenedorCarta .hijoCarta .textoCarta {
  font-family: "Signika", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-align: center;
}
.header .contenedorCarta .hijoCarta .textoCarta .animate__animated.animate__bounce {
  --animate-duration: 2s;
}
.header .contenedorCarta .hijoCarta .textoCarta .animate__animated.animate__bounce :root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
.header .contenedorCena {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1294117647), rgba(0, 0, 0, 0.8352941176)), url("../assets/img/cabnavCena.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .contenedorCena .hijoCena {
  padding-right: 20rem;
  padding-left: 5rem;
}
.header .contenedorCena .hijoCena h1 {
  text-align: center;
}
.header .contenedorCena .hijoCena .textoCena {
  font-family: "Signika", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-align: center;
}
.header .contenedorContacto {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1294117647), rgba(0, 0, 0, 0.8352941176)), url("../assets/img/pexels-photo-10295770.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .contenedorContacto .hijoContacto {
  padding-right: 5rem;
  padding-left: 5rem;
}
.header .contenedorContacto .hijoContacto h1 {
  text-align: center;
}
.header .contenedorContacto .hijoContacto .textoContacto {
  font-family: "Signika", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-align: center;
}
.header .contenedorContacto .hijoContacto .textoContacto .animate__animated.animate__bounce {
  --animate-duration: 2s;
}
.header .contenedorContacto .hijoContacto .textoContacto .animate__animated.animate__bounce :root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

/*media queries header */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header .contenedorIndex .hijoIndex {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .header .contenedorIndex .hijoIndex .textoIndex {
    font-size: 25px;
  }
  .header .contenedorBeneficios .hijoBeneficios {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .header .contenedorBeneficios .hijoBeneficios .textoBeneficios {
    font-size: 25px;
  }
  .contenedorCarta .hijoCarta {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .contenedorCarta .hijoCarta .textoCarta {
    font-size: 25px;
  }
  .contenedorCarta .contenedorCena .hijoCena {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .contenedorCarta .contenedorCena .hijoCena .textoCena {
    font-size: 25px;
  }
  .contenedorCarta .contenedorContacto .hijoContacto {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .contenedorCarta .contenedorContacto .hijoContacto .textoContacto {
    font-size: 25px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .header .contenedorIndex .hijoIndex {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .header .contenedorIndex .hijoIndex .textoIndex {
    font-size: 23px;
  }
  .header .contenedorBeneficios .hijoBeneficios {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .header .contenedorBeneficios .hijoBeneficios .textoBeneficios {
    font-size: 23px;
  }
  .header .contenedorCarta .hijoCarta {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .header .contenedorCarta .hijoCarta .textoCarta {
    font-size: 23px;
  }
  .header .contenedorCena .hijoCena {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .header .contenedorCena .hijoCena .textoCena {
    font-size: 23px;
  }
  .header .contenedorContacto .hijoContacto {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .header .contenedorContacto .hijoContacto .textoContacto {
    font-size: 23px;
  }
}
@media screen and (min-width: 414px) and (max-width: 576px) {
  .header .contenedorIndex .hijoIndex {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .header .contenedorIndex .hijoIndex .textoIndex {
    font-size: 21px;
  }
  .header .contenedorBeneficios .hijoBeneficios {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .header .contenedorBeneficios .hijoBeneficios .textoBeneficios {
    font-size: 21px;
  }
  .header .contenedorCarta .hijoCarta {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .header .contenedorCarta .hijoCarta .textoCarta {
    font-size: 21px;
  }
  .header .contenedorCena .hijoCena {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .header .contenedorCena .hijoCena .textoCena {
    font-size: 21px;
  }
  .header .contenedorContacto .hijoContacto {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .header .contenedorContacto .hijoContacto .textoContacto {
    font-size: 21px;
  }
}
@media screen and (min-width: 361px) and (max-width: 414px) {
  .header .contenedorIndex .hijoIndex {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .header .contenedorIndex .hijoIndex .textoIndex {
    font-size: 19px;
  }
  .header .contenedorBeneficios .hijoBeneficios {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .header .contenedorBeneficios .hijoBeneficios .textoBeneficios {
    font-size: 19px;
  }
  .header .contenedorCarta .hijoCarta {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .header .contenedorCarta .hijoCarta .textoCarta {
    font-size: 19px;
  }
  .header .contenedorCena .hijoCena {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .header .contenedorCena .hijoCena .textoCena {
    font-size: 19px;
  }
  .header .contenedorContacto .hijoContacto {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .header .contenedorContacto .hijoContacto .textoContacto {
    font-size: 19px;
  }
}
@media screen and (min-width: 150px) and (max-width: 361px) {
  .header .contenedorIndex .hijoIndex {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .header .contenedorIndex .hijoIndex .textoIndex {
    font-size: 16px;
  }
  .header .contenedorBeneficios .hijoBeneficios {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .header .contenedorBeneficios .hijoBeneficios .textoBeneficios {
    font-size: 16px;
  }
  .header .contenedorCarta .hijoCarta {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .header .contenedorCarta .hijoCarta .textoCarta {
    font-size: 16px;
  }
  .header .contenedorCena .hijoCena {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .header .contenedorCena .hijoCena .textoCena {
    font-size: 16px;
  }
  .header .contenedorContacto .hijoContacto {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .header .contenedorContacto .hijoContacto .textoContacto {
    font-size: 16px;
  }
}
/*scss main index*/
.beneficios {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.beneficios .box1 {
  display: flex;
  justify-content: column;
  align-items: center;
  flex-direction: center;
  background-color: #0D0D0E;
  font-size: 1rem;
}
.beneficios .box1 h1 {
  font-family: "Signika", sans-serif;
  color: #E1BA39;
  font-size: 2rem;
  text-align: center;
  margin-top: 0; /* Agregamos margin-top: 0; para eliminar el margen superior */
}
.beneficios .box1 p {
  font-family: "Poppins", sans-serif;
  color: white;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
  font-weight: 80;
  font-size: 18px;
  line-height: 2;
  text-align: justify;
  padding: 8px;
}
.beneficios .box1 p .resaltado {
  color: #f8c051;
  font-weight: bold;
}
.beneficios .fondo {
  background-image: url(../assets/img/imgindex.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.beneficios .carousel-item {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
.beneficios .carousel-item img {
  max-width: 100%;
  height: auto;
}

/*media queries del caurusell*/
@media screen and (max-width: 767px) {
  .carousel-item {
    height: 60vh;
  }
}
@media screen and (max-width: 576px) {
  .carousel-item {
    height: 40vh;
  }
}
/*scss main de pag beneficios*/
.beneficios {
  margin-bottom: 2rem;
  margin-top: 3rem;
}
.beneficios .card {
  background-color: #060607;
  height: 20rem;
  overflow: hidden;
  width: 100%;
  padding-bottom: 130px;
}
.beneficios .card .cardImg {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.beneficios .card .cardImg:hover {
  transform: scale(1.2);
}

/*scss main de pag Carta*/
.box1Carta {
  background-color: #0D0D0E;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.fondo1, .beneficios .fondo5, .fondo4, .fondo3, .fondo2 {
  background-image: url(../assets/img/plato1menu.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  -webkit-animation: scale-up-right 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-right 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-right {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
}
@keyframes scale-up-right {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
}

.fondo2 {
  background-image: url(../assets/img/plato2a.webp);
}

.fondo3 {
  background-image: url(../assets/img/plato3menu.webp);
}

.fondo4 {
  background-image: url(../assets/img/plato4menu.jpeg);
}

/*scss main pag cena*/
.beneficios {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.beneficios .box1Carta {
  background-color: #0D0D0E;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
.beneficios .fondo5 {
  background-image: url(../assets/img/soba\ cena.jpg);
  -webkit-animation: scale-up-right 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-right 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-right {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
}
@keyframes scale-up-right {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
}

/*scss main pag contacto*/
.beneficios {
  margin-bottom: 1rem;
  margin-top: 1rem;
  /*Media queries de mainContactos*/
}
.beneficios .boxContacto {
  background-color: #0D0D0E;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.beneficios .boxContacto h1 {
  font-family: "Signika", sans-serif;
  color: #E1BA39;
  font-size: 2rem;
  text-align: center;
  padding-top: 20px;
}
.beneficios .boxContacto h1 h2 {
  font-family: "Signika", sans-serif;
  color: #E1BA39;
  font-size: 1.5rem;
  text-align: center;
}
.beneficios .boxContacto h1 h2 p {
  font-family: "Roboto", sans-serif;
  color: white;
  margin-bottom: 1rem;
  font-weight: 80;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}
.beneficios .tituloFormulario {
  margin-top: 1.5rem;
  text-align: center;
  color: #E1BA39;
}
.beneficios .row .formularioBox {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.beneficios .row .formularioBox form {
  position: relative;
  display: inline-block;
  padding: 5px 15px;
  color: #fad05c;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 5s;
  margin-top: 0.5px;
  margin-bottom: 2rem;
  letter-spacing: 4px;
}
.beneficios .row .formularioBox .userBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 5px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.beneficios .row .formularioBox textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.beneficios .row .formularioBox .userBox label {
  position: absolute;
  top: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 5s;
}
.beneficios .row .formularioBox .animated-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  background-color: #E1BA39;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.beneficios .row .formularioBox .animated-button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  transition: width 0.3s, opacity 0.3s;
}
.beneficios .row .formularioBox .animated-button:hover:before {
  width: 100%;
  opacity: 1;
}
.beneficios .row .formularioBox .animated-button:hover:before:hover {
  background-color: #E1BA39;
}
.beneficios .row .carousel-item {
  width: 100%;
  height: 80vh;
}
.beneficios .row .carousel-item .carusel {
  object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .beneficios main .boxContacto h1 {
    font-family: "Signika", sans-serif;
    color: #E1BA39;
    font-size: 2rem;
    text-align: center;
    padding-top: 15px;
  }
  .beneficios main .boxContacto h1 h2 {
    font-family: "Signika", sans-serif;
    color: #E1BA39;
    font-size: 1.5rem;
    text-align: center;
  }
  .beneficios main .boxContacto h1 h2 p {
    font-family: "Roboto", sans-serif;
    color: white;
    margin-bottom: 1rem;
    font-weight: 80;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
  }
  .beneficios main .row .formularioBox form {
    max-width: 80%;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .beneficios main .boxContacto h1 {
    font-family: "Signika", sans-serif;
    color: #E1BA39;
    font-size: 1.8rem;
    text-align: center;
    padding-top: 15px;
  }
  .beneficios main .boxContacto h1 h2 {
    font-family: "Signika", sans-serif;
    color: #E1BA39;
    font-size: 1.3rem;
    text-align: center;
  }
  .beneficios main .boxContacto h1 h2 p {
    font-family: "Roboto", sans-serif;
    color: white;
    margin-bottom: 1rem;
    font-weight: 80;
    font-size: 0.8rem;
    line-height: 1.5;
    text-align: center;
  }
  .beneficios main .row .formularioBox form {
    max-width: 60%;
  }
}
@media screen and (min-width: 361px) and (max-width: 414px) {
  .beneficios main .boxContacto h1 {
    font-family: "Signika", sans-serif;
    color: #E1BA39;
    font-size: 1.5px;
    text-align: center;
    padding-top: 15px;
  }
  .beneficios main .boxContacto h1 h2 {
    font-family: "Signika", sans-serif;
    color: #E1BA39;
    font-size: 1rem;
    text-align: center;
  }
  .beneficios main .boxContacto h1 h2 p {
    font-family: "Roboto", sans-serif;
    color: white;
    margin-bottom: 1rem;
    font-weight: 80;
    font-size: 0.5rem;
    line-height: 1.5;
    text-align: center;
  }
  .beneficios main .row .formularioBox {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .beneficios main .row .formularioBox form {
    max-width: 45%;
  }
}

/*Inicio scss del Footer*/
footer {
  background-color: #020202;
}
footer .contenedorFoother {
  background-color: #060607;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1.5rem;
  justify-content: center;
}
footer .contenedorFoother .box2Foother {
  background-color: #060607;
  border: 1px solid black;
  width: 26.1rem;
  overflow: auto;
  margin: 1rem;
  text-align: center;
}
footer .contenedorFoother .box2Foother h2 {
  font-family: "Signika", sans-serif;
  color: #ebbe2c;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1.4rem;
  padding-top: 1.4rem;
}
footer .contenedorFoother .box2Foother .parrafoFotter {
  font-family: "Roboto", sans-serif;
  color: white;
  margin-bottom: 1rem;
  font-weight: 80;
  font-size: inherit;
  line-height: 1.5;
  text-align: center;
  margin-top: 1rem;
}
footer .contenedorFoother .box2Foother h3 {
  font-family: "Signika", sans-serif;
  color: #ebbe2c;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 2.5rem;
  padding-top: 3.7rem;
}
footer .contenedorFoother .box2Foother2 {
  background-color: #060607;
  border: 1px solid black;
  width: 26.1rem;
  overflow: auto;
  margin: 1rem;
  text-align: center;
}
footer .contenedorFoother .box2Foother2 h2 {
  font-family: #060607;
  color: #ebbe2c;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1.7rem;
}
footer .contenedorFoother .box2Foother2 .parrafoFotter2 {
  font-family: "Roboto", sans-serif;
  color: white;
  margin-bottom: 0.5rem;
  font-weight: 70;
  font-size: inherit;
  line-height: 1.5;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
footer .contenedorFoother .box2Foother2 .h3Foteer {
  font-family: "Signika", sans-serif;
  color: #ebbe2c;
  font-size: 1rem;
  text-align: center;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
}
footer .contenedorFoother .box2Foother3 {
  display: flex;
  background-color: #060607;
  border: 1px solid black;
  width: 26.1rem;
  overflow: auto;
  margin: 1rem;
  text-align: center;
  margin-top: 2rem;
}
footer .contenedorFoother .icons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 0.2rem;
  align-items: center;
}
footer .contenedorFoother .icons i {
  color: #ebbe2c;
  font-size: 1.8rem;
  margin: 0 0.5rem;
}
footer .derechos {
  font-family: "Roboto", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.1rem;
}
footer .derechos .contenedor-derechos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
footer .derechos .contenedor-derechos .parrafoDerechos {
  font-size: 1rem;
}

/*media queries del footer*/
@media only screen and (max-width: 1320px) {
  footer .contenedorFoother {
    padding-top: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media only screen and (max-width: 1100px) {
  footer .contenedorFoother {
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media only screen and (max-width: 900px) {
  footer .contenedorFoother {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
