<<<<<<< HEAD
body{
    background-color: $colorSecundario;
    font-style: normal;
    font-family: $tipografiaAlternativa;
    font-weight: 400;
    color:beige
=======
body{
    background-color: $colorSecundario;
    font-style: normal;
    font-family: $tipografiaGeneral;
    font-weight: 400;
>>>>>>> 5669405ef2820b9bbd37df0e8775decbcc7b0ea1
}