<<<<<<< HEAD
/*scss main de pag beneficios*/
.beneficios{
    margin-bottom: 2rem;
    margin-top: 3rem;
    .card {
        background-color: #060607;
    }
=======
main{
    .beneficios{
        margin-bottom: 1rem;
        margin-top: 1rem;
        .card {
            background-color: #060607;
        }
    }
>>>>>>> 5669405ef2820b9bbd37df0e8775decbcc7b0ea1
}