/*scss main index*/
.beneficios {
    margin-bottom: 1rem;
    margin-top: 1rem;

    .box1 {
        @include flexbox(map-get($map-flex, column), map-get($map-flex, aling-item), map-get($map-flex, justify-content), $colorSecundario, $fuenteNormal);

        h1 {
            font-family: 'Signika', sans-serif;
            color: #E1BA39;
            font-size: 2rem;
            text-align: center;
            margin-top: 0; /* Agregamos margin-top: 0; para eliminar el margen superior */
        }

        p {
            font-family: "Poppins", sans-serif;
            color: white;
            margin-bottom: 1rem;
            margin-top: 2.5rem;
            font-weight: 80;
            font-size: 18px;
            line-height: 2;
            text-align: justify;
            padding: 8px;
            .resaltado{
                color: #f8c051;
                font-weight: bold;
            }
        }
    }

    .fondo {
        background-image: url(../assets/img/imgindex.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 90vh;
        -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        @-webkit-keyframes scale-up-center {
            0% {
                -webkit-transform: scale(0.5);
                        transform: scale(0.5);
            }
            100% {
                -webkit-transform: scale(1);
                        transform: scale(1);
            }
            }
            @keyframes scale-up-center {
            0% {
                -webkit-transform: scale(0.5);
                        transform: scale(0.5);
            }
            100% {
                -webkit-transform: scale(1);
                        transform: scale(1);
            }
            }
    }
    .carousel-item{
        width: 100%;
        height: 80vh;
        object-fit: cover;
        img {
            max-width: 100%;
            height: auto;
        }
    }
}
/*media queries del caurusell*/
@media screen and (max-width: 767px) {
    .carousel-item {
        height: 60vh;
    }
}
@media screen and (max-width: 576px) {
    .carousel-item {
        height: 40vh;
    }
}