h1{
    color: $colorLinks;
    font-size: 2rem;
}
h2{
    color: $colorLinksDos;
    font-size: 1.8rem;
}
h3{
    color: $colorLinksTres;
    font-size: 1.6rem;
}
p{
    color: $colorTexto;
    font-size: 1.3rem;

}