$tipografiaGeneral: 'Roboto', sans-serif;
$tipografiaAlternativa: 'Signika', sans-serif;
$tipografiaMasAlternativa: "Poppins", sans-serif;

$ancho:100%;

$espaciadoEstandar: 10px;
$espaciadoDoble: 20px;

$fuenteNormal: 1rem;
$fuenteMediana: 1,5rem;
$fuenteGrande:2rem;
$fuentePequeña:0.5rem;


$colorPrincipal: #020202;
$colorSecundario: #0D0D0E;
$colorTerciario: #060607;
$colorTexto: white;
$colorLinks: #ebbe2c;
$colorLinksDos: #ecc02f;
$colorLinksTres: #ffdb65;


$map-flex: (
    row: row,
    column: column,
    space-between: space-between,
    space-around: space-around,
    space-evenly: space-evenly,
    space-center: center,
    aling-item: center,
    text-align: center,
    justify-content: center
);

$flex: flex;


$fuentes:(
    thin:100,
    light:300,
    regular:400,
    medium:500,
    bold:700,
    black:900
);

$sizes:(
    5:5px,
    10:10px,
    14:14px,
    16:16px,
    20:10px
);

$estilos: (
    centro: center,
    tamanioFuente:25px,
    1rem: 1rem
)